/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, "Microsoft Yahei", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
  color: #006e54;
}

/* 文章 */
.post-header h1 {
	font-size: 32px;
}
.post-header p {
	color: #99cc99;
}

/* 文章列表 */
.list-group a {
	color: #006e54;
	font-size: 20px;
}
.list-group a:link {
	color: #669900;
	font-size: 20px;
}
.list-group a:hover {
	text-decoration: none;
	color: #ccff66;
}